* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0;
    min-height: 100vh;
    background-color: rgba(198, 188, 188, 0.742);

}
.wrapper {
    margin:  auto;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    min-width: 500px;
}

h2 {
    text-align: center;
   
    margin-bottom: 15px;
}

.stopwatch, .phone{
    border: 2px red dashed;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 500px;

}
hr.line {
    height: 5px;
    background-color: rgb(48, 168, 37);
    margin-top: 5px;
}
.black{
    background: black;
}
.silver{
    background: rgba(88, 88, 88, .5) !important;
}
.red{
    background: rgba(231, 40, 40, 0.5) !important;
}
.green{
    background: rgba(39, 211, 76, 0.5) !important;
}
.container-stopwatch{
            
    width: 300px;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 10px black;
}
.stopwatch-display{
    background: rgba(192, 214, 190, 0.5);
    padding: 1.5rem;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.stopwatch-display span{
    font-size: 2rem;
}
.stopwatch-control button{
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0.829);
    border: none;
    cursor:	grab;
}
.stopwatch-control button:nth-child(2){
    margin: 0 .5rem;
}
.pone-form{
    border: 2px blue dashed;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

}
.pone-input, .pone-btn{
    border: 2px solid #000;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 10px black;
    align-items: center;

}

.pone-erorr {
    color: red;
    width: 100%;
}
